.nav {
  background: #F7F7F7;
  padding: 1rem;
}
.list {
  display: flex;
  gap: 1rem;
}
.link {
  color: #101828;
  font-weight: normal;
}
.active {
  color: #D84343;
  font-weight: bold;
}

.logoContainer {
  padding-left: 64px;
  padding-right: 128px;
}